@font-face {
  font-family: "Josefin-l";
  src: url("JosefinSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Josefin-r";
  src: url("JosefinSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Josefin-sb";
  src: url("JosefinSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Josefin-b";
  src: url("JosefinSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Fredoka-l";
  src: url("Fredoka-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Fredoka-r";
  src: url("Fredoka-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Fredoka-m";
  src: url("Fredoka-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Fredoka-sb";
  src: url("Fredoka-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Fredoka-sb";
  src: url("Fredoka-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-r";
  src: url("Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-b";
  src: url("Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-m";
  src: url("Poppins-Medium.ttf") format("truetype");
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.carousel,
.carousel-item {
  height: 100vh;
}

.carousel-bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

h2 {
  z-index: 1;
}

.navbar {
  background: transparent !important;
}

.navbar-brand,
.nav-link {
  color: white !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-family: "Poppins-b";
}

.navbar-toggler-icon {
  filter: invert(100%);
}

@media (min-width: 980px) {
  .navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* Prevents offset */
  }
}

/* Disable hover on mobile and click to open on desktop */
@media (max-width: 980px) {
  .navbar-nav .dropdown-menu {
    display: none; /* hidden by default */
  }

  .navbar-nav .dropdown.show .dropdown-menu {
    display: block; /* Show on click/tap */
  }
}

/* Reduce logo size on mobile */
@media (max-width: 980px) {
  #logo {
    width: 30px;
    height: 30px;
  }
}

/* Full-width dropdown on mobile */
@media (max-width: 980px) {
  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@media (max-width: 980px) {
  .navbar-brand {
    font-size: 1.2rem;
  }
}

.btn-yellow {
  background-color: #eec166 !important;
  color: white;
  border: 1px solid #1d3359 !important;
  padding: 10px 20px;
  font-size: 1.2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: white !important;
  color: navy;
  border: 2px solid #1d3359 !important;
  padding: 10px 20px;
  font-size: 1.2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn {
  transition: all 0.3s ease-in-out;
  letter-spacing: 2.4px;
  color: #1d3359 !important;
  font-family: "Poppins-r" !important;
  font-weight: bold !important;
  font-size: 1.2rem;
}

.btn:hover {
  transform: scale(1.05);
}

section {
  padding: 20px;
  text-align: center;
  background-image: url("wallpaper.jpg");
  background-size: cover;
}

#menu {
  font-family: "Poppins-m" !important;
  background-color: rgba(149, 153, 92, 0.6) !important;
  position: relative !important;
  z-index: 1 !important;
  background: rgba(0, 0, 0, 0.8);
  align-items: left;
}

#menu h2 {
  font-size: 2.2rem;
  color: #fff !important;
  text-shadow: 3px 2px 0px #1d3359 !important;
}

#menu a {
  color: #fff;
  text-shadow: 3px 2px 0px #1d3359 !important;
  text-decoration: none;
  font-size: 1.1rem;
}

#menu p {
  font-size: 1.1rem;
}
#menu a:hover {
  color: #1d3359;
  text-shadow: 3px 2px 0px #fff !important;
}

#about {
  font-family: "Poppins-m" !important;
  margin-top: 50px;
}

#about h2 {
  font-size: 2.3rem;
  color: #eec166 !important;
  text-shadow: 3px 2px 0px #1d3359 !important;
}

#about p {
  margin-bottom: 50px;
}

#contact {
  font-family: "Poppins-m" !important;
}

#contact h2 {
  font-size: 2.3rem;
  color: #eec166 !important;
  text-shadow: 3px 2px 0px #1d3359 !important;
}

#contact h3 {
  color: #eec166 !important;
  text-shadow: 3px 2px 0px #1d3359 !important;
  font-size: calc(1.1rem + 0.6vw);
}
/* Hero sektion */
.hero {
  background-color: #f8f8f8;
  padding: 50px 0;
}
.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-family: "Poppins-m";
  color: #eec166 !important;
  text-shadow: 3px 2px 0px #1d3359 !important;
}
.hero p {
  font-size: 1.2rem;
  font-family: "Poppins-r";
  font-style: italic;
  margin-bottom: 5rem;
} /*
            Meny sektion */
.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}
.menu-item {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.8) !important;
  border-top: 3px solid #1d3359 !important;
}

.dropdown-item {
  color: #1d3359 !important;
  font-weight: 700 !important;
}

.dropdown-divider {
  background-color: #1d3359 !important;
}

/* Galleri sektion */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.gallery-item {
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
}
.gallery-item img {
  max-width: 300px;
  max-height: 300px;
}
/* Footer */
footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}
footer a {
  color: #ffdd57;
} /* Responsiv design */
@media (max-width: 980px) {
  .menu-grid,
  .gallery-grid {
    grid-template-columns: 1fr;
  }
  .hero h1 {
    font-size: 2rem;
  }
}
@media (max-width: 360px) {
  .navbar {
    flex-direction: column;
  }
  .menu-item {
    max-width: 100%;
  }
}
